.root {
  flex-direction: row;
  background: #ffffff61;
  display: flex;
  position: relative;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 32px;
  }
}
.freeBox__v3F2R {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 0;
}
.freeBox__v3F2R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__v3F2R > :global(.__wab_flex-container) > *,
.freeBox__v3F2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v3F2R > :global(.__wab_flex-container) > picture > img,
.freeBox__v3F2R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__v3F2R {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__v3F2R > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__v3F2R > :global(.__wab_flex-container) > *,
  .freeBox__v3F2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v3F2R > :global(.__wab_flex-container) > picture > img,
  .freeBox__v3F2R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__hZudc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rT0C2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 169px;
  height: 36px;
  flex-shrink: 0;
}
.freeBox___8WuYn {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___8WuYn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8WuYn > :global(.__wab_flex-container) > *,
.freeBox___8WuYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8WuYn > :global(.__wab_flex-container) > picture > img,
.freeBox___8WuYn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___8WuYn > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___8WuYn > :global(.__wab_flex-container) > *,
  .freeBox___8WuYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8WuYn > :global(.__wab_flex-container) > picture > img,
  .freeBox___8WuYn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__nZl6M {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__nZl6M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__nZl6M > :global(.__wab_flex-container) > *,
.link__nZl6M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__nZl6M > :global(.__wab_flex-container) > picture > img,
.link__nZl6M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rso3T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___5VBdV {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-s2Xcqq-tyVVCtC);
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}
.svg__kgMqm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link___1BkVq {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___1BkVq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___1BkVq > :global(.__wab_flex-container) > *,
.link___1BkVq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___1BkVq > :global(.__wab_flex-container) > picture > img,
.link___1BkVq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___5ID4U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hYx2X {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg___9AqYf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__jt1IO {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__jt1IO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__jt1IO > :global(.__wab_flex-container) > *,
.link__jt1IO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__jt1IO > :global(.__wab_flex-container) > picture > img,
.link__jt1IO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__vaKnk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hYd0Q {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__eu35 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__qxmJo {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__qxmJo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__qxmJo > :global(.__wab_flex-container) > *,
.link__qxmJo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qxmJo > :global(.__wab_flex-container) > picture > img,
.link__qxmJo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__br7Da {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lyLj4 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__wdxMc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__bs4X {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__bs4X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__bs4X > :global(.__wab_flex-container) > *,
.link__bs4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bs4X > :global(.__wab_flex-container) > picture > img,
.link__bs4X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xJPwe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__e3Omg {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__iBGvI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__q53F3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qUbou {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
