.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-nvANpmG6rT3BrK);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tEbUw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__w9R0Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__b1NYx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__b1NYx > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__b1NYx > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__b1NYx > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__b1NYx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__b1NYx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dgCf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__gJpZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__gJpZ > picture > img {
  object-fit: cover;
}
.img__gJpZ > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__hma3X {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__hma3X > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hma3X {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hma3X > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__v5XpK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ex9Ci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4gpM3nBdsrGun8);
  font-size: var(--token-ToqoRnOvoDW_Y5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__nWbXs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-0Wyj8vSb9aeyLh);
  font-size: var(--token-W_Yx6kQcAsIXZ4);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__nWbXs {
    font-size: 20px;
  }
}
.text__txdy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__s6RE6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jrLyu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__iYrLb {
  font-size: 13px;
}
.svg__irPak {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__kqsvm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__clSlJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__clSlJ > picture > img {
  object-fit: cover;
}
.img__clSlJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__xLid3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__xLid3 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xLid3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xLid3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yLq8Y {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__yLq8Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__yLq8Y > :global(.__wab_flex-container) > *,
.column__yLq8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yLq8Y > :global(.__wab_flex-container) > picture > img,
.column__yLq8Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__aSjAn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4gpM3nBdsrGun8);
  font-size: var(--token-ToqoRnOvoDW_Y5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__umcFj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-0Wyj8vSb9aeyLh);
  font-size: var(--token-W_Yx6kQcAsIXZ4);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__umcFj {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__ih8L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button__ximyp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6OyoX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lT0WO {
  font-size: 13px;
}
.svg__xwkVh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__rbbSi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__cEsT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__cEsT > picture > img {
  object-fit: cover;
}
.img__cEsT > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__plZmt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__plZmt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__plZmt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__plZmt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zeQi1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__wI7Xp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-4gpM3nBdsrGun8);
  font-size: var(--token-ToqoRnOvoDW_Y5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__poBlH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-0Wyj8vSb9aeyLh);
  font-size: var(--token-W_Yx6kQcAsIXZ4);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__poBlH {
    font-size: 20px;
  }
}
.text__eg8Oj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__dMfR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2QMkF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qtXiW {
  font-size: 13px;
}
.svg__rPiR6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
